.appHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /*background: #e91e63;*/
    /*background-color: rgba(77, 139, 232);*/
    background-color: rgb(0,123,255);
    color: white;
}

.logoSection {
    display: grid;
    grid-template-columns: 20px 3fr;
    justify-items: start;
    gap: 20px;
}

.mainMenuButton {
    color: #fff;
}

a.active{
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.searchBox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
}

.breadcrumbs {
    display: flex;
    justify-self: end;
    gap: 20px;
}

@media only screen and (max-width: 620px) {
    .appHeader {
        overflow-x: hidden;
        padding: 10px 0px;
    }

    .logo {
        display: none;
    }

    .breadcrumbs {
        display: none;
    }
}
