.asideMenu {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border: lightblue solid 1px;
    border-radius: 10px;
}

.menuItems {
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    justify-items: center;
}

.menuItem {
    margin-bottom: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.itemComposeButton {
    background-color: #007bff;
    color: #fff;
}

.itemComposeButton span {
    margin-left: 8px;
    font-weight: bold;
}

.itemComposeButton a:hover {
    text-decoration: none;
}

.itemLink {
}

.itemLink:hover {
    background-color: rgba(207,220,239,50%);
}

.itemLink a {
    display: block;
    width: 100%;
}

.itemLink a:hover {
    text-decoration: none;
}

.itemLink .title {
    margin-left: 8px;
}

.itemLink .unreadCounter {
    float: right;
}

.itemLinkSelected {
    background-color: rgba(207,220,239,50%);
}

@media only screen and (max-width: 620px) {
    .asideMenu {
        border: none;
    }

    /*.menuItems {*/
    /*    padding: 10px;*/
    /*}*/

    .itemLink:hover {
        background-color: #fff;
    }

    .itemLinkSelected {
        background-color: #fff;
    }

    .menuItem {
        padding: 0;
    }

    .itemComposeButton {
        background-color: #fff;
        color: orangered;
        box-shadow: 3px 3px #cccccc;
        position: absolute;
        bottom: 20%;
        right: 20px;
        width: 120px;
        padding: 8px;
    }

    .itemLink .unreadCounter {
        display: none;
    }
}
