/* EmailCompose page */
.email-compose {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*top: 200px;*/
    bottom: 100px;
    right: 20px;
    display:block;
    width: 75%;
}

.compose-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.compose-popup-title {
    margin-bottom: 10px;
}

.compose-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.compose-textarea {
    width: 100%;
    height: 20vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
