
.email-preview-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.email-preview-item:hover {
    background-color: lightblue;
}

.email-preview-select-checkbox {
    position: relative;
    left: -40px;
}

.email-preview-star {
    position: relative;
    left: -20px;
}

.email-preview-item-from {
    flex: 4;
}

.email-preview-item-content {
    flex: 8;
}

.email-preview-item-date {
    flex: 2;
}