/* EmailDetails page */
.horizontal-menu {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    padding: 10px 15px;
    /*background-color: #007bff;*/
    color: #fff;
    border: none;
    cursor: pointer;
}

.email-details h2 {
    padding: 10px 20px;
}

.email-content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.attachments {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}
