
.email-preview-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.email-preview-item:hover {
    background-color: #cfdcef;
}

.email-preview-item-unread {
    background-color: rgba(207,220,239,50%);
}

.email-preview-select-checkbox {
    position: relative;
    left: -40px;
}

.email-preview-star {
    position: relative;
    left: -20px;
}

.email-preview-star-unchecked {
}

.email-preview-star-unchecked::after {
    content: "\2606";
}

.email-preview-star-checked {
    color: gold;
}

.email-preview-star-checked::after {
    content: "\2605";
}
.email-preview-item-from {
    flex: 4;
}

.email-preview-item-content {
    flex: 8;
}

.email-preview-item-date {
    flex: 2;
}