.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sort-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.pagination {
    font-weight: bold;
}

.pagination-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* EmailDetails page */
.horizontal-menu {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 620px) {
    .list-header {
        width: 100%;
    }

    .select-all-checkbox, .delete-selected-items, .restore-selected-items {
        display: none;
    }

    .list-header button {
    }

    .sort-button {
        font-size: small;
    }

    .pagination {
        font-size: small;
    }

    .pagination-button {
    }
}