.emailPreviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asideIcons {
    display: flex;
    align-items: center;
}

.emailPreviewItem {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    background-color: rgba(207,220,239,30%);
    border-bottom: 1px solid rgba(207,220,239,80%);
    border-top: 1px solid rgba(207,220,239,80%);
}

.emailPreviewItem:hover {
    background-color: #cfdcef;
}

.emailPreviewItemUnread {
    background-color: rgba(255,255,255,100%);
    font-weight: bold;
}

.emailPreviewSelectCheckbox {
    position: relative;
    left: -40px;
}

.emailPreviewStar {
    position: relative;
    left: -20px;
}

.emailPreviewStarUnchecked {
}

.emailPreviewStarUnchecked::after {
    content: "\2606";
}

.emailPreviewStarChecked {
    color: gold;
}

.emailPreviewStarChecked::after {
    content: "\2605";
}

.emailPreviewItemFrom {
    flex: 4;
}

.emailPreviewItemContent {
    flex: 8;
}

.emailPreviewItemDate {
    flex: 1;
}

@media only screen and (max-width: 620px) {
    .emailPreviewItem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
             "from date"
             "content content";
        font-size: smaller;
        padding: 10px 6px;
    }

    .emailPreviewItemFrom {
        grid-area: from;
        max-width: 100px;
        text-wrap: nowrap;
        text-overflow: clip ;
    }

    .emailPreviewItemContent {
        grid-area: content;
    }

    .emailPreviewItemDate {
        grid-area: date;
        justify-self: end;
    }

    .asideIcons {
        display: none;
    }

    ul {
        padding-inline-start: 0px;
    }
}