/* Welcome page */
.welcome {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcomeContainer {
    text-align: center;
}

.goToAppButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
