.asideMenu {
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.menuItems {
    list-style-type: none;
    padding: 0;
}

.menuItem {
    margin-bottom: 10px;
    padding: 15px 15px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
}

.itemComposeButton {
    background-color: #007bff;
    color: #fff;
    width: 100%;
}

.itemComposeButton span {
    margin-left: 8px;
}

.itemLink {
    width: 50px;
}

.itemLink:hover {
    background-color: rgba(207,220,239,50%);
}

.itemLink a {
    display: block;
    width: 100%;
}

.itemLink a:hover {
    text-decoration: none;
}

.itemLink .title {
    margin-left: 8px;
}

.itemLinkSelected {
    background-color: rgba(207,220,239,50%);
}

