
/* EmailIndex page */
.emailIndex {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px,1fr) 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "h h"
            "a m";
    gap: 10px;
}

.emailIndex::after {
    content: "";
    background-image: url("../../assets/imgs/17.png");
    background-size: cover; /* Adjust to your needs */
    background-repeat: no-repeat; /* Adjust to your needs */
    height: 80%;
    opacity: 0.1; /* Adjust the opacity as needed */
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.emailIndex header {
    grid-area: h;
}

.emailIndex aside {
    grid-area: a;
    height: 100%;
    background-color: transparent;
}

.emailIndex main {
    grid-area: m;
    height: 100%;
    /*background-color: gold;*/
}

.itemsList {
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sortButton {
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    /*color: #007bff;*/
}

.pagination {
    font-weight: bold;
}

.paginationButton {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* EmailDetails page */
.horizontalMenu {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButton {
    padding: 10px 15px;
    /*background-color: #007bff;*/
    /*color: #fff;*/
    border: none;
    cursor: pointer;
}

.emailDetails h2 {
    padding: 10px 20px;
}

.emailContent {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.attachments {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.composePopup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
