
/* EmailIndex page */
.emailIndex {
    position: relative;
    height: 98%;
    display: grid;
    grid-template-columns: 50px 150px auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.expanded {
}

.shrunk {
    grid-template-columns: 80px 0 auto;
}

.emailIndex::after {
    content: "";
    background-image: url("../../assets/imgs/17.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    opacity: 0.1;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.emailIndex header {
    grid-area: 1 / 1 / span 1 / span 3;
}

.emailIndex aside {
    grid-area: 2 / 1 / span 1 / span 2;
    height: 100%;
    background-color: transparent;
}

.emailIndex main {
    grid-area: 2 / 3 / span 1 / span 1;
    height: 100%;
    overflow: auto;
    /*height: 100vh;*/
}

/* Styling for small screens */
@media only screen and (max-width: 620px) {
    .emailIndex {
        position: relative;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 10px;
    }

    .expanded {
        grid-template-columns: 50px 40% auto;
    }

    .shrunk {
        grid-template-columns: 1fr 0 auto;
    }

    .emailIndex aside {
        grid-area: 2 / 1 / span 1 / span 2;
        background-color: rgba(255, 255, 255, 80%);
        z-index: 10;
    }

    .emailIndex main {
        grid-area: 2 / 2 / span 1 / span 2;
        height: 100%;
    }
}

