
/* EmailIndex page */
.emailIndex {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px,1fr) 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "h h"
            "a m";
    gap: 10px;
}

.emailIndex::after {
    content: "";
    background-image: url("../../assets/imgs/17.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    opacity: 0.1;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.emailIndex header {
    grid-area: h;
}

.emailIndex aside {
    grid-area: a;
    height: 100%;
    background-color: transparent;
}

.emailIndex main {
    grid-area: m;
    height: 100%;
    /*background-color: gold;*/
}
