.emailPreview {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.items-list {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-top: 20px;
    width: 100vh;
    overflow: auto;
}

@media only screen and (max-width: 620px) {

}